section:not(:last-of-type) {
    margin-bottom: 48px;
}

h2 {
    margin-bottom: 24px;
}

/****** LOADER ******/
#loader {
    height: calc(100vh - 100px);
    top: 100px;
}


/****** AFFICHAGE DES ELEMENTS A LA UNE *****/
#topTracks, #topArtists, #topAlbums {
    display: grid;
    grid-template-columns: repeat(5, 19%);
    justify-content: space-around;
    grid-gap: 12px;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 6px;
    background-color: var(--bg-color-third);
    transition: background-color ease .3s;
}

.top:hover {
    background-color: var(--bg-color-secondary);
}

.top img {
    margin-bottom: 12px;
    border-radius: 6px;
}

.top a {
    color: white;
}

.top .title {
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top .artist {
    color: var(--secondary-color);
}

.top.album .artist:hover {
    text-decoration: underline;
}

.top.artist {
    align-items: center;
}
.top.artist img {
    border-radius: 50%;
    max-width: 90%;
}

/****** MEDIA QUERIES *****/
@media screen and (max-width:1300px) {
    #resultsContainer {
        grid-template-columns: repeat(3, 33%);
    }
    #topTracks, #topArtists, #topAlbums {
    grid-template-columns: repeat(3, 33%);
    }
}
@media screen and (max-width:1100px) {
    input[type="text"] {
        min-width: 100%;
        padding: 0.5em 0 0.5em 1em;
        margin-bottom: 6px;
    }
}
@media screen and (max-width:600px) {
    #search {
        flex-direction: column;
    }
    #search input, #search #param-search {
        margin-left: 0;
        margin-bottom: 2.5em;
    }
    #search #searchButton {
        margin: 0
    }
}